:root {
    --base0: #242424;
    --base1: #5c5653;
    --base2: #ff7733;
    --base3: #00c853;
    --base4: #36a3d9;
    --base5: #a37acc;
    --base6: #ff3333;
    --base7: #ffffff;

    --base2a: rgba(255, 119, 51, .1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.54;
    color: #242424;
    color: var(--base0);
    background-color: #fff;
    background-color: var(--base7);
    text-rendering: optimizeLegibility;
    border: none;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*
 * Header Logo
 */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--accent);
    color: var(--base7);
    padding: 5px 10px
}

.header__logo {
    display: flex;
    flex: 1
}

.header__logo:after {
    content: "";
    background: repeating-linear-gradient(90deg, transparent, transparent 2px, #fff 0, #fff 10px),
                linear-gradient(90deg, var(--base2) 70%, var(--base2a));
    display: block;
    width: 100%;
    right: 10px
}

.header__logo a {
    flex: 0 0 auto;
    max-width: 100%;
    text-decoration: none
}

/*
 * Header menu
 */
header .menu {
    margin: 10px 0
}

header .menu__inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

header .menu__inner li {
    margin-right: 20px;
}

@media (orientation: portrait) {
    header .menu__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    header .menu__inner li {
        padding: 5px;
    }
}

/* 
 * Article item list
 */
main h1 {
    font-size: 3em;
    color: var(--base2);
}

article.item {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

article.item:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color)
}

article.item h2,
article.item h2 a {
    margin: 0;
    color: var(--base4);
}
  
article.item .meta {
    margin-bottom: 1rem;
}
  
article.item .meta .key {
    color: var(--base1);
  }
  
article.item .meta .val,
article.item .meta .val a {
    color: var(--base5);
  }
  
article.item section.summary a {
    color: var(--base4);
}

