/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */
/*
naranja #ff7733
azul #36a3d9
violeta #a37acc
rojo #ff3333
negro #242424
blanco #ffffff
*/

:root {
  --base0: #242424;
  --base1: #5c5653;
  --base2: #ff7733;
  --base3: #00c853;
  --base4: #36a3d9;
  --base5: #a37acc;
  --base6: #ff3333;
  --base7: #ffffff;

  --base2a: rgba(255, 119, 51, .1);

  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base0a: #ff7733;
  --base0b: #99cc99;
  --base0c: #66cccc;
  --base0d: #6699cc;
  --base0e: #cc99cc;
  --base0f: #d27b53;
  --baseff: #ffffff;
}

.base00 { color: var(--base00); }
.base01 { color: var(--base01); }
.base02 { color: var(--base02); }
.base03 { color: var(--base03); }
.base04 { color: var(--base04); }
.base05 { color: var(--base05); }
.base06 { color: var(--base06); }
.base07 { color: var(--base07); }
.base08 { color: var(--base08); }
.base09 { color: var(--base09); }
.base0a { color: var(--base0a); }
.base0b { color: var(--base0b); }
.base0c { color: var(--base0c); }
.base0d { color: var(--base0d); }
.base0e { color: var(--base0e); }
.base0f { color: var(--base0f); }

@custom-media --breakpoint-md (max-width: 52em);

/* General Page Layout */

body {
  margin: 0;
  background-color: var(--base7);
  color: var(--base0);
  line-height: 1.5;
  font-size: 100%;
}

.container {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

div.right {
  float:right;
}

div.clearfix {
  overflow: auto;
}

@media (--breakpoint-md) {
  .container {
    width: 100%;
  }
}

article.single section,
.article-list article {
  color: var(--base0);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (--breakpoint-md) {
  article.single section,
  .article-list article {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header, footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (--breakpoint-md) {
  header {
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9em;
  color: var(--base0);
}

@media (--breakpoint-md) {
  footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

pre, code {
  font-family: inherit;
  font-size: inherit;
}

/* Header Layout */

header a.path {
  color: var(--base0d);
}

header span.caret {
  color: var(--base07);
}

/* Footer Layout */

footer a {
  color: var(--base1);
  text-decoration: none;
}

/* 404 Page Layout */

.page-not-found h1 {
  text-align: center;
  font-size: 5em;
}

.page-not-found h2 {
  text-align: center;
  font-size: 3em;
  color: var(--base04);
  margin-bottom: 4rem;
}

@media (--breakpoint-md) {
  .page-not-found h1 {
    font-size: 3em;
  }

  .page-not-found h2 {
    font-size: 2em;
  }
}

/* Homepage Layout */

@media (--breakpoint-md) {
  .homepage {
    margin-bottom: 2rem;
  }
}

.homepage h1.site-title {
  text-align: center;
  font-size: 5em;
  color: var(--base0c);
}

@media (--breakpoint-md) {
  .homepage h1.site-title {
    font-size: 3em;
  }
}

.homepage h1.headline {
  font-size: 3em;
  color: var(--base0a);
}

@media (--breakpoint-md) {
  .homepage h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.homepage .hero-logo img {
  width: 100%;
}

.homepage section.categories,
.homepage section.tags {
  padding-left: 2rem;
  padding-right: 2rem;
}

.homepage .category,
.homepage .category a,
.homepage .tag,
.homepage .tag a {
  color: var(--base0e);
}

.homepage .tag {
  margin-right: 2em;
}

/* Post List Layout */

.article-list h1.list-title {
  font-size: 3em;
  color: var(--base0a);
}

.article-list article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.article-list article h2.headline,
.article-list article h2.headline a {
  margin-top: 0;
  color: var(--base4);
}

.article-list article .meta {
  margin-bottom: 1rem;
}

.article-list article .meta .key {
  color: var(--base03);
}

.article-list article .meta .val,
.article-list article .meta .val a {
  color: var(--base5);
}

.article-list article section.summary a { color: var(--base4); }

/* Pagination */

nav.paginator {
  text-align: center;
}

nav.paginator a {
  color: var(--base0e);
}

nav.paginator .faded {
  color: var(--base02);
}

nav.paginator .nav-left {
  margin-left: auto;
  margin-right: 1%;
}

nav.paginator .nav-right {
  margin-left: 1%;
  margin-right: auto;
}

/* Single Post Layout */

article.single .meta {
  font-size: 0.9em;
  text-align: right;
}

article.single .meta .key {
  color: var(--base03);
}

article.single .meta .val, article.single .meta .val a {
  color: var(--base5);
}

@media (--breakpoint-md) {
  article.single .meta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single h1.headline {
  margin-top: 0;
  font-size: 3em;
  color: var(--base0a);
}

@media (--breakpoint-md) {
  article.single h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single section.body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (--breakpoint-md) {
  article.single section.body {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

/* Highlight Colors */

article.single section.body h1 { color: var(--base2); }
article.single section.body h2 { color: var(--base3); }
article.single section.body h3 { color: var(--base4); }
article.single section.body h4 { color: var(--base5); }
article.single section.body h5 { color: var(--base6); }
article.single section.body h6 { color: var(--base0); }

article.single section.body a {
  color: var(--base4);
  text-decoration: none;
}

/* Article Elements */

article.single * {
  max-width: 100%;
}

article.single p code {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: var(--base2a);
  color: var(--base2);
}

@media (--breakpoint-md) {
  article.single figure, article.single div.highlight {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
  }
}

article.single figure img {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
}

article.single figure figcaption {
  margin-top: 1rem;
}

article.single figure figcaption h4 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: var(--base07);
}

article.single th {
  text-align: left;
  font-weight: bold;
  vertical-align: bottom;
}

article.single td { vertical-align: top }

hr {
  width:100%;
  height:1px;
  border:none;
  background:var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
