:root {
    --base0: #272822;
    --base1: #5c5653;
    --base2: #ff6214;
    --base3: #00c853;
    --base4: #1178ce;
    --base5: #8c1eb2;
    --base6: #ff3333;
    --base7: #ffffff;

    --base2a: rgba(255, 98, 20, .1);
    --accent: var(--base2);
    --background: var(--base7);
    --border-color: hsla(0, 0%, 0%, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: #242424;
    color: var(--base0);
    background-color: #fff;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
    border: none;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
}

a {
    color: var(--base4)
}

/*
 * Common
 */
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 8px;
    max-width: 60%;
    padding: 0;
}

.button a {
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
}

.button > span {
    display: flex;
    padding: 8px 16px;
    color: var(--base1);
}

.button__text,
.button a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/*
 * Header Logo
 */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--accent);
    color: var(--base7);
    padding: 5px 10px
}

.header__logo {
    display: flex;
    flex: 1
}

.header__logo:after {
    content: "";
    background: 
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 2px,
            #fff 0,
            #fff 10px),
        linear-gradient(
            90deg,
            var(--base2) 70%,
            var(--base2a));
    display: block;
    width: 100%;
    right: 10px
}

.header__logo a {
    flex: 0 0 auto;
    max-width: 100%;
    text-decoration: none
}

/*
 * Header menu
 */
header .menu {
    margin: 4px 0
}

header .menu__inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

@media (orientation: portrait) {
    header .menu__inner {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 
 * Article common
 */
article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

article .meta {
    margin-bottom: 1rem;
}
  
article .meta .key {
    color: var(--base1);
}
  
article .meta .val,
article .meta .val a {
    color: var(--base5);
}

/* 
 * Article item list
 */
main > h1 {
    font-size: 3em;
    font-weight: 100;
    color: var(--base2);
}

article.item:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color)
}

article.item h2,
article.item h2 a {
    margin: 0;
    color: var(--base4);
}
  
article.item section.summary a {
    color: var(--base4);
}

/*
 * Article post layuot
 */
article.post > h1 {
    --border: 3px dotted var(--base2);
    position: relative;
    color: var(--base2);
    margin: 0 0 15px;
    font-size: 2.25em;
    font-weight: 100;
    padding-bottom: 15px;
    border-bottom: var(--border)
}

article.post > h1:after {
    content: "";
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: var(--border)
}

article.post > h1 a {
    text-decoration: none
}

article.post .meta {
    font-size: 0.9em;
    text-align: right;
}

article.post section.body {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
  
@media (orientation: portrait) {
    article.post section.body {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

/*
 * Pagination
 */
.pagination {
    margin-top: 50px;
    text-align: center;
}

.pagination__title {
    position: relative;
}

.pagination__title:before {
    content: "";
    display: block;
    border-top: solid 1px var(--border-color);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.pagination__title span {
    padding: 0 10px;
    position: relative;
    font-size: .8rem;
    background: var(--background);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    z-index: 1;
}

.pagination__buttons {
    display: flex;
    align-items: center;
    justify-content: center
}

.pagination__buttons a {
    text-decoration: none
}

.button.next .button__icon {
    margin-left: 8px
}

.button.previous .button__icon {
    margin-right: 8px
}

/*
 * Footer
 */
footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9em;
    color: var(--base0);
}

footer a {
    color: var(--base1);
    text-decoration: none;
}

/*
 * 404 Page Layout
 */
.page-not-found h1 {
    text-align: center;
    font-size: 5em;
}

@media (orientation: portrait) {
    .page-not-found h1 {
        font-size: 3em;
    }
}

.page-not-found .c1 { color: var(--base2) }
.page-not-found .c2 { color: var(--base3) }
.page-not-found .c3 { color: var(--base4) }
.page-not-found .c4 { color: var(--base5) }
.page-not-found .c5 { color: var(--base6) }
.page-not-found .emoji { color: var(--base1) }

.page-not-found h2 {
    text-align: center;
    color: var(--base0);
}

/*
 * Article content
 */
.body h1 {
    color: var(--base4);
    font-size: 2em;
    overflow:hidden;
    white-space:nowrap;
}

.body h1:after {
    content: "========================================";
    margin-left: .5rem;
    font-weight: lighter;
}

.body h2 {
    color: var(--base2);
    font-size: 2em;
    border-bottom: 1px solid var(--border-color);
}

.body h3 {
    color: var(--base3);
    font-size: 1.75em;
}

.body h4 {
    color: var(--base5);
    font-size: 1.5em;
}

.body h5 {
    color: var(--base6);
    font-size: 1.25em;
}

.body h6 {
    color: var(--base0);
    font-size: 1em;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 4rem;
}

ul {
    list-style-type: disc;
}

ol ol {
    list-style-type: lower-alpha
}

code {
    padding: 0.1em 0.4em;
    border-radius: 3px;
    background: var(--base2);
    color: var(--base7);
}

code,
pre {
    font-size: .95rem
}

pre {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    background: var(--base0);
    color: var(--base7);
}

pre code {
    background: none;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

table {
    table-layout: fixed;
    margin: 30px 0;
}

table {
    border: 1px solid var(--accent);
    padding: .5rem;
}

td,
th {
    padding: .5rem
}

th {
    color: var(--accent)
}

blockquote {
    margin-left: 2rem;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 5px solid var(--base5);
}

@media (orientation: portrait) {
    blockquote {
        margin-left: 0;
    }
}

hr {
    width:90%;
    height:1px;
    border:none;
    background:var(--border-color);
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/*
 * TODO Check this oneday
 */
img {
    display: block;
    max-width: 100%
}

img.center,
img.left {
    margin-right: auto
}

img.center,
img.right {
    margin-left: auto
}

figure {
    display: table;
    max-width: 100%;
    margin: 25px 0
}

figure.center,
figure.left {
    margin-right: auto
}

figure.center,
figure.right {
    margin-left: auto
}

figure figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: #23b0ff;
    background: var(--accent);
    color: #1d212c;
    color: var(--background)
}

figure figcaption.left {
    text-align: left
}

figure figcaption.center {
    text-align: center
}

figure figcaption.right {
    text-align: right
}

.post-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgba(35, 176, 255, .7)
}

.post-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5
}

.post-tags a {
    text-decoration: none
}

.post-content {
    margin-top: 30px
}

.post-cover {
    border: 20px solid #23b0ff;
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px
}

@media (max-width:683px) {
    .post-cover {
        padding: 10px;
        border-width: 10px
    }
}

.post--regulation h1,
.post--regulation h2 {
    justify-content: center
}

.post--regulation h2 {
    margin-bottom: 10px
}

.post--regulation h2+h2 {
    margin-top: -10px;
    margin-bottom: 20px
}