<article class="list-item post on-list" itemscope itemtype="http://schema.org/Blog">
  <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
  <div class="meta">

    {{ partial "article-date" . }}
    {{ partial "article-type" . }}

    {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
    {{ end }}

  </div>
  <section class="summary">
    {{ with .Params.Cover }}
    <img src="{{ . | absURL }}" class="post-cover" />
    {{ end }}

    {{ if .Params.showFullContent }}
    {{ .Content }}
    {{ else if .Description }}
    {{ .Description | markdownify }}
    {{ else }}
    {{ .Summary }}
    {{ end }} {{ if .Truncated }} <a class="read-more button" href="{{ .RelPermalink }}">{{ $.Site.Params.ReadMore }} →</a>{{ end }}
  </section>

</article>
