/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */
/*
naranja #ff7733
azul #36a3d9
violeta #a37acc
rojo #ff3333
negro #242424
blanco #ffffff
*/

.base00 { color: var(--base00); }
.base01 { color: var(--base01); }
.base02 { color: var(--base02); }
.base03 { color: var(--base03); }
.base04 { color: var(--base04); }
.base05 { color: var(--base05); }
.base06 { color: var(--base06); }
.base07 { color: var(--base07); }
.base08 { color: var(--base08); }
.base09 { color: var(--base09); }
.base0a { color: var(--base0a); }
.base0b { color: var(--base0b); }
.base0c { color: var(--base0c); }
.base0d { color: var(--base0d); }
.base0e { color: var(--base0e); }
.base0f { color: var(--base0f); }


/* General Page Layout */





div.right {
  float:right;
}

div.clearfix {
  overflow: auto;
}

article.single section,
.article-list article {
  color: var(--base0);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (--breakpoint-md) {
  article.single section,
  .article-list article {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

pre, code {
  font-family: inherit;
  font-size: inherit;
}

/* Header Layout */

header a.path {
  color: var(--base0d);
}

header span.caret {
  color: var(--base07);
}

/* Homepage Layout */

@media (--breakpoint-md) {
  .homepage {
    margin-bottom: 2rem;
  }
}

.homepage h1.site-title {
  text-align: center;
  font-size: 5em;
  color: var(--base0c);
}

@media (--breakpoint-md) {
  .homepage h1.site-title {
    font-size: 3em;
  }
}

.homepage h1.headline {
  font-size: 3em;
  color: var(--base0a);
}

@media (--breakpoint-md) {
  .homepage h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.homepage .hero-logo img {
  width: 100%;
}

.homepage section.categories,
.homepage section.tags {
  padding-left: 2rem;
  padding-right: 2rem;
}

.homepage .category,
.homepage .category a,
.homepage .tag,
.homepage .tag a {
  color: var(--base0e);
}

.homepage .tag {
  margin-right: 2em;
}

/* Highlight Colors */

article.single section.body h1 { color: var(--base2); }
article.single section.body h2 { color: var(--base3); }
article.single section.body h3 { color: var(--base4); }
article.single section.body h4 { color: var(--base5); }
article.single section.body h5 { color: var(--base6); }
article.single section.body h6 { color: var(--base0); }

article.single section.body a {
  color: var(--base4);
  text-decoration: none;
}

/* Article Elements */

article.single * {
  max-width: 100%;
}

article.single p code {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: var(--base2a);
  color: var(--base2);
}

@media (--breakpoint-md) {
  article.single figure, article.single div.highlight {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
  }
}

article.single figure img {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
}

article.single figure figcaption {
  margin-top: 1rem;
}

article.single figure figcaption h4 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: var(--base07);
}

article.single th {
  text-align: left;
  font-weight: bold;
  vertical-align: bottom;
}

article.single td { vertical-align: top }

hr {
  width:100%;
  height:1px;
  border:none;
  background:var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
