/*
 * 404 Page Layout
 */
 .page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.page-not-found h1 {
    display: flex;
    font-size: clamp(4rem, 6vw, 20rem);
}

.page-not-found h2 {
    margin-bottom: 10vh;
    font-size: clamp(2rem, 4vw, 10vw);
    color: var(--magenta);
}

.page-not-found .c1 { color: var(--black) }
.page-not-found .c2 { color: var(--sky) }
.page-not-found .c3 { color: var(--sky) }
.page-not-found .c4 { color: var(--sky) }
.page-not-found .c5 { color: var(--black) }
.page-not-found .emoji {
    color: var(--orange);
    padding-left: 1rem;
}
