:root {
    --black: #3F3F46;
    --gray: #A1A1AA;
    --light: #FAFAFA;
    --white: #FFF;
    --divider: #E0F2FE;
    --magenta: #E879F9;
    --orange: #FB923C;
    --sky: #38BDF8;
    --brown: #A8A29E;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #3F3F46;
    color: var(--black);
    background-color: #ffffff;
    background-color: var(--white);
    text-rendering: optimizeLegibility;
    border: none;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    max-width: 80ch;
    margin: 0 auto;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    align-self: center;
    margin: auto;
}

.meta {
    font-size: .8em;
    color: var(--gray);
}

a {
    color: var(--sky);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}