/*
 * Article post layuot
 */

article.post {
    padding: 0 1rem;
}

article.post > .meta {
    text-align: right;
}

article.post > h1 {
    color: var(--black);
    font-size: 2em;
    font-weight: 900;
}

article.post > hr {
    height:1px;
    border:none;
    background:var(--divider);
    margin-top: 1rem;
    margin-bottom: 1rem;
}