/* Home */

section.haikus div {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

section.haikus article {
    flex-shrink: 0;
}

/* List */

div.haikus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Single */

.post {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post .haiku {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 12rem;
}

.post .haiku p {
    margin: 1rem;
    line-height: 2rem;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
}

.post .haiku p:nth-child(2) {
    font-style: italic;
}
