/* Home */

section.haikus div {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

section.haikus article {
    flex-shrink: 0;
}

/* List */

div.haikus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Sizes */


article.item.haiku-1 a {
    font-weight: 100;
    font-size: .9rem;
    line-height: 1.6;
}

article.item.haiku-2 a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
}

article.item.haiku-3 a {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
}

article.item.haiku-4 a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2;
}


/* Single */

.post {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post .haiku {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 12rem;
}

.post .haiku p {
    margin: 1rem;
    line-height: 2rem;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
}

.post .haiku p:nth-child(2) {
    font-style: italic;
}
