/* Welcome */
.welcome {
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    color: var(--orange);
    font-size: 2.8em;
    font-weight: 300;
}

#👇 {
    text-align: center;
    color: var(--sky);
    padding: 1rem;
}

#👇:hover {
    background-color: var(--light);
}

/* 
 * Sections
 */
.sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.sections section h1 a {
    color: var(--magenta);
    letter-spacing: .2em;
    font-size: 1.3em;
    font-weight: 900;
    padding: 0 1rem;
}

section > a {
    padding: 0 1rem;
}

/* Summaries */

article.item {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.item:hover {
    background-color: var(--light);
    transition: 200ms ease;
}

article.item a {
    color: var(--black);
}

article.item h2 {
    font-weight: 600;
}