/*
 * Article content
 */
.body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.body h1 {
    color: var(--sky);
    font-weight: 900;
    font-size: 1.8em;
    margin-bottom: .6em;
}

.body h2 {
    color: var(--magenta);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33em;
    margin-top: 3em;
    margin-bottom: .6em;
}

.body h3 {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-top: 2.4em;
    margin-bottom: .6em;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 4rem;
}

ul {
    list-style-type: disc;
}

ol ol {
    list-style-type: lower-alpha
}

code {
    padding: 0.1em 0.4em;
    border-radius: 3px;
    background: var(--base2);
    color: var(--base7);
}

code,
pre {
    font-size: .95rem
}

pre {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    background: var(--base0);
    color: var(--base7);
}

pre code {
    background: none;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

table {
    table-layout: fixed;
    margin: 30px 0;
}

table {
    border: 1px solid var(--accent);
    padding: .5rem;
}

td,
th {
    padding: .5rem
}

th {
    color: var(--accent)
}

blockquote {
    margin-left: 2rem;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 5px solid var(--base5);
}

@media (orientation: portrait) {
    blockquote {
        margin-left: 0;
    }
}

.body hr {
    width:90%;
    height:1px;
    border:none;
    background:var(--border-color);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
