/*
 * Article content
 */
.body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.body h1 {
    color: var(--sky);
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 1em;
}

.body h2 {
    color: var(--magenta);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33em;
    margin: 1em 0;
}

.body h3 {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-top: 1em;
}

.body img {
    margin-top: 1rem;
    max-width: 100%
}

.body figcaption p {
    margin-top: 0;
    text-align: center;
    color: var(--brown);
}

.body p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.body ul p,
.body ol p {
    margin-top: .5rem;
}

.body ol,
.body ul {
    padding-left: 1rem;
}

.body ul {
    list-style-type: disc;
}

.body ol {
    list-style-type: decimal
}

.body ol ol {
    list-style-type: lower-alpha
}

.body ol ol ol {
    list-style-type: lower-greek
}

.body code {
    padding: 0.1rem 0.4rem;
    border-radius: 3px;
    background: var(--light);
    font-family: 'Roboto Mono', monospace;
}

.body code,
.body pre {
    font-size: .95rem
}

.body pre {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    background: #282a36;
    white-space: nowrap;
    overflow-x: auto;
}

.body pre code {
    margin: 0;
    padding: 0;
    background: none;
}

.body table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;
    margin: 1rem 0;
    padding: .5rem;
    background-color: var(--light);
    border-radius: 4px;
}

.body table tbody,
.body table thead {
    width: 100%;
}

.body blockquote {
    margin-right: 0;
    padding-left: 1rem;
    border-left: 2px solid var(--brown);
    color: var(--brown)
}

.body th {
    margin: .5rem 1rem;
    color: var(--black)

}

.body td {
    padding: .5rem 1rem
}

.body hr {
    height: 1px;
    border: none;
    background: var(--divider);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#TableOfContents {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--light);
    border-radius: 4px;
}

.anchor {
    color: var(--sky);
    opacity: 0;
    padding-right: .25rem;
    position: absolute;
    transform: translateX(-100%);
    transition: opacity .1s ease-in;
    will-change: transform, opacity;
}

.body h1:hover .anchor,
.body h2:hover .anchor,
.body h3:hover .anchor {
    opacity: 100;
}