{{ define "main" }}

<div class="welcome">
  <h1>¡Wenas!</h1>
  Bienvenido a este pequeño y lejano espacio en internet! ù.ú</p>
</div>

<main>
  {{ range $.Site.Menus.main }}

  <section>
    <h1 class="title">
      <a href="{{ .URL }}">{{ upper .Name }}</a>
    </h1>

    {{ $paginator := $.Paginate (where $.Site.RegularPages ".Type" "!=" "page") (or $.Site.Params.paginate 3) }}

    {{ range $paginator.Pages }}
    {{ partial "article-item.html" . }}
    {{ end }}

  </section>
  {{ end }}
</main>

{{ end }}