{{ define "main" }}

<div class="welcome">
  <h1>¡Holas!</h1>
  ¿Qué onda, che?</p>
</div>

<svg height="2rem" width="2rem" stroke="var(--sky)" fill="none" viewBox="0 0 24 24">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
</svg>

<div class="sections">
  {{ range (.Site.Sections.ByParam "orden") }}

  {{ if gt (len .Pages) 0 }}
  <section class="{{ .Section }}">
    <h1>
      <a href="{{ .Permalink }}">{{ upper .Section }}</a>
    </h1>

    <div>
      {{ range where .Pages "Section" .Section | first 3 }}
      {{ .Render "summary" }}
      {{ end }}
    </div>

    <a href="{{ .Permalink }}">ver el resto</a>

  </section>

  <svg height="2rem" width="2rem" viewBox="0 0 24 24" fill="var(--divider)">
    <path d="M0 0h24v24H0V0z" fill="none" />
    <path
      d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
  </svg>
  {{ end }}

  {{ end }}
  </main>
</div>
{{ end }}